<html>
<head>
  <link rel="stylesheet" href="histogram.css"/>
  
</head>

<body>
  <h2> Histogram Generator </h2>
  <h2> <%= course_id %> </h2>
  <table class="left">
    <%= form_tag("/normalize_courses/", method: "post") do %>
    <%= hidden_field_tag :course_id, course_id %>
    <tr class="tableheader">
      <th>Lower bounds</th>
    </tr>
    <tr>
      <td>Max</td>
      <td>
        <%= text_field_tag :l0 %>
      </td>
    </tr>
    <tr>
      <td>A+</td>
      <td>
        <%= text_field_tag :l1 %>
      </td>
    </tr>
    <tr>
      <td>A</td>
      <td>
        <%= text_field_tag :l2 %>
      </td>
    </tr>
    <tr>
      <td>A-</td>
      <td>
        <%= text_field_tag :l3 %>
      </td>
    </tr>
    <tr>
      <td>B+</td>
      <td>
        <%= text_field_tag :l4 %>
      </td>
    </tr>
    <tr>
      <td>B</td>
      <td>
        <%= text_field_tag :l5 %>
      </td>
    </tr>
    <tr>
      <td>B-</td>
      <td>
        <%= text_field_tag :l6 %>
      </td>
    </tr>
    <tr>
      <td>C+</td>
      <td>
        <%= text_field_tag :l7 %>
      </td>
    </tr>
    <tr>
      <td>C</td>
      <td>
        <%= text_field_tag :l8 %>
      </td>
    </tr>
    <tr>
      <td>C-</td>
      <td>
        <%= text_field_tag :l9 %>
      </td>
    </tr>
    <tr>
      <td>D</td>
      <td>
        <%= text_field_tag :l10 %>
      </td>
    </tr>
    <tr>
      <td>F</td>
      <td>
        <%= text_field_tag :l11 %>
      </td>
    </tr>
  <%= submit_tag "submit" %>
  <% end %>
  </table>

  <table class="right">

    <th class="tableheader">
        Histogram
    </th>
    <tr>
      <td>A+</td>
      <td id="r0">
      <% (1..grades_counts["A+"]).each do |img_name| %>
        <img src="redtiny.png" />
      <% end %>
    </td>
    </tr>
    <tr>
      <td>A</td>
      <td id="r1">
        <% (1..grades_counts["A"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
    <tr>
      <td>A-</td>
      <td id="r2">
        <% (1..grades_counts["A-"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
    <tr>
      <td>B+</td>
      <td id="r3">
        <% (1..grades_counts["B+"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
    <tr>
      <td>B</td>
      <td id="r4">
        <% (1..grades_counts["B"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
    <tr>
      <td>B-</td>
      <td id="r5">
        <% (1..grades_counts["B-"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
    <tr>
      <td>C+</td>
      <td id="r6">
        <% (1..grades_counts["C+"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
    <tr>
      <td>C</td>
      <td id="r7">
        <% (1..grades_counts["C"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
    <tr>
      <td>C-</td>
      <td id="r8">
        <% (1..grades_counts["C-"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
    <tr>
      <td>D</td>
      <td id="r9">
        <% (1..grades_counts["D"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
    <tr>
      <td>F</td>
      <td id="r10">
        <% (1..grades_counts["F"]).each do |img_name| %>
          <img src="redtiny.png" />
        <% end %>
      </td>
    </tr>
  </table>

</body>
</html>
